*{
    margin: 0;
    padding: 0;

}
.output_canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.input_video{
    opacity: 0;
}
.qr{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20vh;
    height: 20vh;
    animation: ani1 20s forwards infinite;
    opacity: 0;
}
.ic{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20vh;
    height: 20vh;
}

@keyframes ani1 {
    0% {opacity: 0;}
    50% {opacity:1;}
    100% {opacity: 0;}
  }
.square-box {
    width: 40vh;
    height: 40vh;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .landmark-grid-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #99999999;
    span, img{
        display: none;
    }
  }
  
  .box {
    position: absolute;
    // top:calc(40px + 20vh);
    top:20px;
    left:20px;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: url('./icon.png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  5px 5px 5px #cccccc inset,
                  -5px -5px 5px #ffffff inset;
    animation: anime 12s cubic-bezier(0.16, 1, 0.3, 1) 2s infinite alternate;

  }

  @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: url('./icon.png');
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow:  0 0 0 #cccccc,
                   0 0 0 #ffffff,
                    5px 5px 5px #cccccc inset,
                    -5px -5px 5px #ffffff inset;
    }
    
    5% {
      width: 60px;
      height: 60px;
      background: url('./icon.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
      box-shadow:  5px 5px 5px #cccccc,
                   5px 5px 5px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    10% {
      width: 60px;
      height: 180px;
      background: url('./icon.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
      box-shadow:  5px 5px 5px #cccccc,
                   5px 5px 5px #ffffff,
                   0 0 0 #cccccc inset,
                   0 0 0 #ffffff inset;
    }
    15% {
      width: 180px;
      height: 180px;
      background: url(./qr.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
      box-shadow:  10px 10px 10px #cccccc,
                   0 0 0 #ffffff,
                   0 0 0 #cccccc inset,
                   2px 2px 2px #ffffff inset;
    }
    100% {
        width: 180px;
        height: 180px;
        background: url(./qr.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: white;
        box-shadow:  10px 10px 10px #cccccc,
                     0 0 0 #ffffff,
                     0 0 0 #cccccc inset,
                     2px 2px 2px #ffffff inset;
      }
}